.heading{
    color: red;
    display: flex;
    justify-content: center;
}

.search{
    display: flex;
    font-size: 25px;
    width:"70%"
    
}
.searchBtn{
    display: flex;
    padding: 3px; 
    font-size: 22px;
    background-color: #9cc63d;;
    cursor: pointer;
    
}
.price span{
    background-color:#9cc63d ;
    color: white;
    padding: 5px 10px;
    padding-bottom: 10px;
}
.price select{
    width: 100px;
    font-size: 13px;
    padding: 7px 3px 7px 5px;
    border-width: 0.2px;
}

.info{
    text-align: center;
    width: 100%;
}

.leftHeader{
    width: 300px;
}




@media only screen and (max-width: 600px) {
    .heading{
        font-size: 30px;
    }
    .searchBtn{
        display: flex;
        padding: 3px; 
        font-size: 15px;
        background-color: #9cc63d;;
        cursor: pointer;
        
    }
    .search{
        display: flex;
        font-size: 15px;
        width:"70%"
        
    }
    .leftHeader{
        width: 100%;
        text-align: center;
        
    }
  }

